ion-content{
    text-align: center;
}
ion-card{
    margin-left: auto;
    margin-right: auto;
}
.calendar{
    width: 300px;
    height: 32px;
    margin-left: 55%;
}
.meal{
    font-size: 20px;
}
.orderhead{
    font-size: 25px;
}
table{
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid black;
}
thead {
    display: block;
}
tbody {
    display: block;
    overflow-y: scroll;
    max-height: 400px;
}
thead th, tbody td {
    width: 70px;
    padding: 5px;
    border: 1px solid black;
}
.endbuttons{
    margin: 30px;
}