<ion-header>
  <ion-toolbar>
      <ion-item lines="none">
          <div class="chefico" (click)="viewButtons()"></div>
          <ion-button color="primary" size="default" fill="solid" (click)="createMenu()">
              <ion-ripple-effect></ion-ripple-effect>
              Create New Menu
          </ion-button>
          <ion-button color="primary" size="default" fill="solid" (click)="viewOrders()">
              <ion-ripple-effect></ion-ripple-effect>
              View Orders
          </ion-button>
          <ion-button color="primary" size="default" fill="solid" (click)="viewMenu()">
              <ion-ripple-effect></ion-ripple-effect>
              View Past Menu
          </ion-button>
          <ion-button color="primary" size="default" fill="solid" (click)="viewMonthlySummary()">
            <ion-ripple-effect></ion-ripple-effect>
            Monthly Summary
        </ion-button>
          <ion-button slot="end" color="warning" size="default" fill="solid" (click)="logout()">
              <ion-ripple-effect></ion-ripple-effect>
              Log Out
          </ion-button>
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>Total for {{text_date[0]}}{{text_date[1]}}{{text_date[2]}} ({{text_date[8]}}{{text_date[9]}} {{text_date[4]}}{{text_date[5]}}{{text_date[6]}} {{text_date[11]}}{{text_date[12]}}{{text_date[13]}}{{text_date[14]}})
    </ion-card-header>
    <div class="calendar">
        <mat-form-field>
            <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="picker_date" (dateChange)="dateChanged()">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker">
                <div class="calenderico" matDatepickerToggleIcon></div>
            </mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
    </div>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let entry of orders">
            <ion-label class="meal">{{entry.mealname}}</ion-label>
            <ion-label>{{entry.item1}}    {{entry.item1_count}}</ion-label>
            <ion-label>{{entry.item2}}    {{entry.item2_count}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  
  <ion-label class="orderhead">
    Orders for {{text_date[0]}}{{text_date[1]}}{{text_date[2]}} ({{text_date[8]}}{{text_date[9]}} {{text_date[4]}}{{text_date[5]}}{{text_date[6]}} {{text_date[11]}}{{text_date[12]}}{{text_date[13]}}{{text_date[14]}})
  </ion-label>

  <table>
  <tr>
      <th rowspan="2">RegNum</th>
      <th [attr.colspan]="colspan[0]">Breakfast</th> 
      <th [attr.colspan]="colspan[1]">Lunch</th> 
      <th [attr.colspan]="colspan[2]">Dinner</th> 
    </tr>
    <tr> 
        <th *ngFor="let head of colhead">{{head}}</th>  
    </tr>
    <tr *ngFor="let row of codes">
        <td>{{row.regnum}}</td>
        <td *ngFor="let code of row.code_array">{{code}}</td> 
    </tr>
  </table>
  <ion-button class="endbuttons" color="warning" size="default" fill="solid" (click)="goBack()">
      BACK
  </ion-button>
  <ion-button class="endbuttons" color="primary" size="default" fill="solid">
  PRINT
</ion-button>

</ion-content>
