<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content padding>
  <ion-item lines="none">  
    <ion-label class="head">
      MONTHLY SUMMARY
    </ion-label>
  </ion-item>
  <ion-toolbar>
      <mat-form-field>
          <input matInput [matDatepicker]="fromDatepicker" [(ngModel)]="from_picker_date" min="2019-04-01" [max]="maxdate" placeholder="From">
          <mat-datepicker-toggle matSuffix [for]="fromDatepicker">
              <div class="calenderico" matDatepickerToggleIcon></div>
          </mat-datepicker-toggle>
          <mat-datepicker #fromDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
          <input matInput [matDatepicker]="toDatepicker" [(ngModel)]="to_picker_date" min="2019-04-01" [max]="maxdate" placeholder="To">
          <mat-datepicker-toggle matSuffix [for]="toDatepicker">
              <div class="calenderico" matDatepickerToggleIcon></div>
          </mat-datepicker-toggle>
          <mat-datepicker #toDatepicker></mat-datepicker>
      </mat-form-field>
      <ion-button (click)="updatePage()">GO</ion-button>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="searchbar">
          <ion-searchbar [(ngModel)]="searchnumber" (ionChange)="filterRegnum()" color="light" placeholder="Register Number" type="number"></ion-searchbar>
        </div>
       <ion-card class="card">
        <ion-card-header>Student-wise Gross</ion-card-header>
        <ion-card-content>
        <table>
          <tr>
            <th>S.no</th>
            <th>Register Number</th>
            <th>Gross</th>
          </tr>
          <tr *ngFor="let item of students">
            <th>{{item.sno}}</th>
            <th class="regnums" (click)="launchSearch(item.regnum)">{{item.regnum}}</th>
            <th>{{item.gross}}</th>
          </tr>
          <tr>
            <th colspan="2">Total:</th>
            <th>{{studentwise_total}}</th>
          </tr>
        </table>
      </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col>
          <div class="searchbar">
              <ion-searchbar [(ngModel)]="searchitem" (ionChange)="filterItems()" color="light" placeholder="Item"></ion-searchbar>
            </div>
            <ion-card class="card">
              <ion-card-header>Item-wise Gross</ion-card-header>
              <ion-card-content>
                  <ion-list>
                    <ion-item lines="inset">
                        <ion-icon class="itemicon" name="pizza" color="primary"></ion-icon>
                        <ion-label>       Item</ion-label>
                        <ion-note>Gross</ion-note>
                        <ion-icon class="cashicon" name="cash" color="primary"></ion-icon>
                      </ion-item>
                    <ion-item *ngFor="let item of items" lines="inset">
                      <ion-label>{{item.sno}}.     {{item.itemname}}</ion-label>
                      <ion-note>{{item.gross}}</ion-note>
                    </ion-item>
                    <ion-item lines="inset">
                      <ion-note class="total" slot="end">Total:        Rs. {{itemwise_total}}</ion-note>
                    </ion-item>
                  </ion-list>
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
