mat-form-field{
    margin-inline-start: 30px;
    margin-inline-end: 30px;
}
.searchbar{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
table{
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid black;
}
th, td {
    padding: 3px;
    border: 1px solid black
}
.card{
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    overflow-y: auto;
    text-align: center;
}
.studentcard{
    width: 35%;
    max-height: 70%;
}
.itemcard{
    width: 70%;
    max-height: 70%;
}
ion-note{
    --color:black;
    margin-top: 4%;
    font-size: 16px;
}
.total{
    margin-top: 0px;
}