<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <div class="chefico" (click)="viewButtons()"></div>
      <ion-button color="primary" size="default" fill="solid" (click)="createMenu()">
          <ion-ripple-effect></ion-ripple-effect>
          Create New Menu
      </ion-button>
      <ion-button color="primary" size="default" fill="solid" (click)="viewOrders()">
          <ion-ripple-effect></ion-ripple-effect>
          View Orders
      </ion-button>
      <ion-button color="primary" size="default" fill="solid" (click)="viewMenu()">
          <ion-ripple-effect></ion-ripple-effect>
          View Past Menu
      </ion-button>
      <ion-button color="primary" size="default" fill="solid" (click)="viewMonthlySummary()">
          <ion-ripple-effect></ion-ripple-effect>
          Monthly Summary
      </ion-button>
      <ion-button slot="end" color="warning" size="default" fill="solid" (click)="logout()">
          <ion-ripple-effect></ion-ripple-effect>
          Log Out
      </ion-button>
  </ion-item>
</ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-toolbar>
      <mat-form-field>
          <input matInput [matDatepicker]="fromDatepicker" [(ngModel)]="from_picker_date" (dateChange)="dateChanged()" placeholder="From">
          <mat-datepicker-toggle matSuffix [for]="fromDatepicker">
              <div class="calenderico" matDatepickerToggleIcon></div>
          </mat-datepicker-toggle>
          <mat-datepicker #fromDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
          <input matInput [matDatepicker]="toDatepicker" [(ngModel)]="to_picker_date" (dateChange)="dateChanged()" placeholder="To">
          <mat-datepicker-toggle matSuffix [for]="toDatepicker">
              <div class="calenderico" matDatepickerToggleIcon></div>
          </mat-datepicker-toggle>
          <mat-datepicker #toDatepicker></mat-datepicker>
        </mat-form-field>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
       <ion-card class="studentcard">
        <ion-card-header>Student-wise Gross</ion-card-header>
        <ion-card-content>
        <table>
          <tr>
              <th>Register Number</th>
              <th>Gross</th>
            </tr>
            <tr>
              <th>120004213</th>
              <th>5000</th>
            </tr>
            <tr>
              <th>120004124</th>
              <th>4000</th>
            </tr>
        </table>
      </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col>
            <ion-card class="itemcard">
              <ion-card-header>Item-wise Gross</ion-card-header>
              <ion-card-content>
                  <ion-list>
                    <ion-item lines="inset">
                        <ion-label>   Item</ion-label>
                        <ion-note>Gross</ion-note>
                      </ion-item>
                    <ion-item lines="inset">
                      <ion-label>1. Gobi Manchurian</ion-label>
                      <ion-note>450</ion-note>
                    </ion-item>
                    <ion-item lines="inset">
                      <ion-label>2. Gobi Manchurian</ion-label>
                      <ion-note>450</ion-note>
                    </ion-item>
                    <ion-item lines="inset">
                      <ion-label>3. Gobi Manchurian</ion-label>
                      <ion-note>450</ion-note>
                    </ion-item>
                    <ion-item lines="inset">
                      <ion-note class="total" slot="end">Total:        Rs.1300</ion-note>
                    </ion-item>
                  </ion-list>
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
