<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content padding>
    <ion-item lines="none">  
        <ion-label class="head">
            TODAY'S MENU
        </ion-label>
        <ion-label class="date">
            Date: {{text_date[8]}}{{text_date[9]}} {{text_date[4]}}{{text_date[5]}}{{text_date[6]}} {{text_date[11]}}{{text_date[12]}}{{text_date[13]}}{{text_date[14]}}
        </ion-label>
    </ion-item>

    <ion-list lines = "none" *ngFor="let entry of menu">
        <ion-card>
            <ion-item class="itemhead">
                <ion-icon color="primary" name="{{entry.icon}}"></ion-icon>
                <ion-label class="headlabel">{{entry.mealname}}</ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-item class="firstitem" lines="inset">
                    <ion-label position="floating">Item #1</ion-label>
                    <ion-select interface="alert" [(ngModel)]="entry.item1" (ionChange)="selectChange(entry)" placeholder="Select Item">
                        <ion-select-option>--None--</ion-select-option>
                        <ion-select-option *ngFor="let item of items">{{item}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item slot = "end" lines="inset">
                    <ion-label position="floating">Cost #1 (Rs)</ion-label>
                    <ion-input [(ngModel)]="entry.item1_cost" type="number"></ion-input>
                </ion-item>
            </ion-item>
            <ion-item lines="none">
                <ion-item class="firstitem" lines="inset">
                    <ion-label position="floating">Item #2</ion-label>
                   <ion-select interface="alert" [(ngModel)]="entry.item2" (ionChange)="selectChange(entry)" placeholder="Select Item">
                        <ion-select-option>--None--</ion-select-option>
                        <ion-select-option *ngFor="let item of items">{{item}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item slot = "end" lines="inset"> 
                    <ion-label position="floating">Cost #2 (Rs)</ion-label>
                    <ion-input [(ngModel)]="entry.item2_cost" type="number"></ion-input>
                </ion-item>
            </ion-item>
        </ion-card>
    </ion-list>
    
    <ion-button class="backbutton" color="warning" size="default" fill="solid" (click)="viewButtons()">
            BACK
    </ion-button>
    <ion-button color="primary" size="default" fill="solid" (click)="updateMenu()">
        UPDATE MENU
    </ion-button>
</ion-content>
