<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item class="headitem" lines="none">
        <mat-form-field>
            <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="picker_date" min="2019-04-01" [max]="maxdate" (dateChange)="updatePage()" placeholder="Select a Date">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker">
                <div class="calenderico" matDatepickerToggleIcon></div>
            </mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
        <ion-label class="head">
            MENU
        </ion-label>
    </ion-item>

    <ion-list lines = "none" *ngFor="let entry of menu">
        <ion-card *ngIf="displayFlag">
            <ion-item class="itemhead">
                <ion-icon color="primary" name="{{entry.icon}}"></ion-icon>
                <ion-label class="headlabel">{{entry.mealname}}</ion-label>
            </ion-item>
            <ion-item class="containeritem" lines="none" *ngFor="let itemm of entry.item_array ; index as i">
                <ion-item class="firstitem" lines="inset">
                    <ion-label position="floating">Item #{{i+1}}</ion-label>
                    <ion-select interface="alert" [(ngModel)]="itemm.name" [selectedText]="itemm.name" [interfaceOptions]="dropdownOptions" (ionChange)="selectChange(entry.mealname,i)" placeholder="Select Item">
                        <ion-select-option *ngFor="let item of items" [value]="item.name">{{item.name}}    (Rs.{{item.cost}})</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item slot = "end" lines="inset">
                    <ion-label position="floating">Cost #{{i+1}} (Rs)</ion-label>
                    <ion-input [(ngModel)]="itemm.cost" disabled=true type="number"></ion-input>
                    <ion-icon class="trashicon" name="trash" slot="end" (click)="delete(entry.mealname,i)"></ion-icon>
                </ion-item>
            </ion-item>
            <ion-item class="additem" (click)="addSlot(entry.mealname)">
                <ion-icon name="add-circle" color="primary"></ion-icon>
                <ion-label class="addlabel">Add a slot</ion-label>
            </ion-item>
        </ion-card>
        <ion-card *ngIf="!displayFlag">
            <ion-item class="itemhead">
                <ion-icon color="primary" name="{{entry.icon}}"></ion-icon>
                <ion-label class="headlabel">{{entry.mealname}}</ion-label>
            </ion-item>
            <ion-item class="containeritem" lines="none" *ngFor="let itemm of entry.item_array ; index as i">
                <ion-item class="firstitem" lines="inset">
                    <ion-label>{{itemm.name}}</ion-label>
                </ion-item>
                <ion-item slot = "end" lines="inset">
                    <ion-label>Rs. {{itemm.cost}}</ion-label>
                </ion-item>
            </ion-item>
        </ion-card>
    </ion-list>

    <ion-button class="backbutton" color="warning" size="default" fill="solid" (click)="viewButtons()">
            BACK
    </ion-button>
    <ion-button color="primary" size="default" fill="solid" (click)="updateMenu()">
        UPDATE MENU
    </ion-button>
</ion-content>
