ion-content{
    text-align: center;
    --background: #fff url('../../assets/images/paneerbg.jpg') no-repeat center center / cover;
}
.headitem{
    --background: none;
}
.head{
    margin-left: 32%;
    font-size: 30px;
}
ion-list{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 60%;
    background:none;
}
ion-card{
    margin-top:0px;
    margin-bottom: 0px;
    padding-bottom:20px;
    background: white;
}
.itemhead{
    font-size: 20px;
    --background:white;
    border-bottom: 2px solid rgb(0, 162, 255);
}
.headlabel{
    margin-left: 30px;
}
.firstitem{
    width: 70%;
}
.backbutton{
    margin-right: 100px;
}