<ion-header>
  <ion-toolbar>
        <ion-item lines="none">
                <div class="chefico" (click)="viewButtons()"></div>
                <ion-button color="primary" size="default" fill="solid" (click)="createMenu()">
                    <ion-ripple-effect></ion-ripple-effect>
                    Create New Menu
                </ion-button>
                <ion-button color="primary" size="default" fill="solid" (click)="viewOrders()">
                    <ion-ripple-effect></ion-ripple-effect>
                    View Orders
                </ion-button>
                <ion-button color="primary" size="default" fill="solid" (click)="viewMenu()">
                    <ion-ripple-effect></ion-ripple-effect>
                    View Past Menu
                </ion-button>
                <ion-button color="primary" size="default" fill="solid" (click)="viewMonthlySummary()">
                    <ion-ripple-effect></ion-ripple-effect>
                    Monthly Summary
                </ion-button>
                <ion-button slot="end" color="warning" size="default" fill="solid" (click)="logout()">
                    <ion-ripple-effect></ion-ripple-effect>
                    Log Out
                </ion-button>
            </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-label class="heading">
        PAST MENU
    </ion-label>

    <ion-grid>
            <ion-row>
              <ion-col>
               <div class="calendar">
                    <mat-form-field>
                        <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="picker_date" (dateChange)="dateChanged()" placeholder="Select a Date">
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker">
                            <div class="calenderico" matDatepickerToggleIcon></div>
                        </mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker></mat-datepicker>
                    </mat-form-field>
                </div>
              </ion-col>
              <ion-col>
                    <ion-list lines = "none" *ngFor="let entry of menu">
                            <ion-item class="itemhead">
                                <ion-label>{{entry.mealname}}</ion-label>
                            </ion-item>
                            <ion-item lines="none">
                                <ion-item class="firstitem" lines="inset">
                                    <ion-label position="floating">{{entry.item1}}</ion-label>
                                </ion-item>
                                <ion-item slot = "end" lines="inset">
                                    <ion-label position="floating">{{entry.item1_cost}}</ion-label>
                                </ion-item>
                            </ion-item>
                            <ion-item lines="none">
                                <ion-item class="firstitem" lines="inset">
                                    <ion-label position="floating">{{entry.item2}}</ion-label>
                                </ion-item>
                                <ion-item slot = "end" lines="inset"> 
                                    <ion-label position="floating">{{entry.item1_cost}}</ion-label>
                                </ion-item>
                            </ion-item>
                        </ion-list>
              </ion-col>
            </ion-row>
    </ion-grid>
        <ion-button class="backbutton" color="warning" size="default" fill="solid" (click)="goBack()">
                BACK
        </ion-button>
</ion-content>
