ion-content{
    text-align: center;
}
.heading{
    font-size: 30px;
}
.calendar{
    width: 300px;
    height: 32px;
    margin-left: 10%;
}
ion-list{
    --border-bottom: 2px;
}
ion-card{
    width:60%;
    padding-bottom:8px;
}
.itemhead{
    font-size: 20px;
    --background:rgb(0, 162, 255);
}
.headlabel{
    margin-left: 20px;
}
.firstitem{
    width: 70%;
}
