<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content padding>
    <ion-label class="heading">
        PAST MENU
    </ion-label>

    <ion-grid>
            <ion-row>
              <ion-col>
               <div class="calendar">
                    <mat-form-field>
                        <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="picker_date" (dateChange)="updatePage()" placeholder="Select a Date">
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker">
                            <div class="calenderico" matDatepickerToggleIcon></div>
                        </mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker></mat-datepicker>
                    </mat-form-field>
                </div>
              </ion-col>
              <ion-col>
                    <ion-list lines = "none" *ngFor="let entry of menu">
                            <ion-item class="itemhead">
                                <ion-label>{{entry.mealname}}</ion-label>
                            </ion-item>
                            <ion-item lines="none">
                                <ion-item class="firstitem" lines="inset">
                                    <ion-label>{{entry.item1}}</ion-label>
                                </ion-item>
                                <ion-item slot = "end" lines="inset">
                                    <ion-label>{{entry.item1_cost}}</ion-label>
                                </ion-item>
                            </ion-item>
                            <ion-item lines="none">
                                <ion-item class="firstitem" lines="inset">
                                    <ion-label>{{entry.item2}}</ion-label>
                                </ion-item>
                                <ion-item slot = "end" lines="inset"> 
                                    <ion-label>{{entry.item2_cost}}</ion-label>
                                </ion-item>
                            </ion-item>
                        </ion-list>
              </ion-col>
            </ion-row>
    </ion-grid>
        <ion-button class="backbutton" color="warning" size="default" fill="solid" (click)="viewButtons()">
                BACK
        </ion-button>
</ion-content>
