.chefico{
    width: 38.6px;
    height: 39.6px;
    background: #fff url('../../assets/images/chefico.png') no-repeat center center / cover;
    margin-inline-end: 20px;
    cursor: pointer;
}
ion-content{
    font-size: 40px;
    text-align: center;
}