<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
        <div class="chefico" (click)="viewButtons()"></div>
        <div class="head">{{user.messname}}</div>
        <ion-button slot="end" color="warning" size="default" fill="solid" (click)="logout()">
            <ion-ripple-effect></ion-ripple-effect>
            Log Out
        </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card [class.startgrow]="growflag" (click)="createMenu()">
            <ion-card-header>
            Menu
            </ion-card-header>
            <ion-card-content>
              <div class="iconpos createicon"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card [class.startgrow]="growflag" (click)="viewOrders()">
            <ion-card-header>
              View Orders
              </ion-card-header>
            <ion-card-content>
              <div class="iconpos ordersicon"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card [class.startgrow]="growflag" (click)="viewOrderHistory()">
            <ion-card-header>
              Student History
              </ion-card-header>
            <ion-card-content>
              <div class="iconpos pastordersicon"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card [class.startgrow]="growflag" (click)="viewVerify()">
            <ion-card-header>
              Verify Students
            </ion-card-header>
            <ion-card-content>
              <div class="iconpos verifyicon"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card [class.startgrow]="growflag" (click)="viewMonthlySummary()">
            <ion-card-header>
              Monthly Summary
            </ion-card-header>
            <ion-card-content>
              <div class="iconpos summaryicon"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card [class.startgrow]="growflag" (click)="viewManageItems()">
            <ion-card-header>
              Manage Items
              </ion-card-header>
            <ion-card-content>
              <div class="iconpos manageicon"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
