<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
        MANAGE ITEMS
        <ion-item lines="none">
          <input style="display: none" type="file" accept='image/*' (change)="preview($event)" #fileInput>
          <ion-icon class="trashicon" name="cloud-upload" color="primary" (click)="fileInput.click()"></ion-icon>
          <ion-label>Upload General Menu Picture</ion-label>
          <ion-label slot="end" style="color: red" *ngIf="imageMessage">Only images are supported!</ion-label>
          <ion-thumbnail slot="end">
              <img [src]="imageURL" *ngIf="imageURL">
          </ion-thumbnail>
        </ion-item>
        <ion-item lines="none">
          <ion-icon class="trashicon" name="add-circle" color="primary" (click)="showForm()"></ion-icon>
          <ion-label>Add item</ion-label>
        </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="pizza" color="primary"></ion-icon>
        <ion-label>Item</ion-label>
        <ion-icon class="priceicon" name="pricetag" color="primary"></ion-icon>
        <ion-label>Price</ion-label>
        <ion-icon name="trash" color="danger"></ion-icon>
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let item of items; let i = index" class="items">
          <ion-label>{{item.name}}</ion-label>
          <ion-label>{{item.cost}}</ion-label>
          <ion-icon class="editicon" name="create" slot="end" (click)="showForm(item,i)"></ion-icon>
          <ion-icon class="trashicon" name="trash" slot="end" (click)="delete(item)"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button color="primary" (click)="updateItems()">Update</ion-button>
  <ion-button color="warning" (click)="reset()">Reset all changes</ion-button>
</ion-content>