.head{
    margin-left: 40%;
    font-size: 30px;
}
ion-searchbar{
    width: 80%;
    float: left;
}
ion-button{
    margin-top: 10px;
}
ion-card{
    width: 20%;
    float: left;
}
.monthsitem:hover{
    --background:lightgrey;
}
.click{
    --background:rgb(0, 162, 255);
}
ion-icon{
    margin-right: 10px;
}