// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

ion-card{
    border-top: 2px solid rgb(0, 162, 255);
}
ion-item{
    --highlight-color-valid:rgb(0, 162, 255);
}
.chefico{
    width: 38.6px;
    height: 39.6px;
    background: #fff url('./assets/images/chefico.png') no-repeat center center / cover;
    margin-right: 20px;
    cursor: pointer;
}
.calenderico{
    width: 24px;
    height: 24px;
    background: #fff url('./assets/images/calendarico.png') no-repeat center center / cover;
}
ion-alert.dropdown{
    --min-width:25%;
}
ion-content{
    user-select: none;
}