<ion-header>
  <ion-toolbar>
    <ion-title>
      SASTRA Mess
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          LOG IN
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item class="firstitem">
              <ion-label position="floating">Username:</ion-label>
              <ion-input [(ngModel)]="username" type="text"></ion-input>
          </ion-item>
          <ion-item class="seconditem">
              <ion-label position="floating">Password:</ion-label>
              <ion-input [(ngModel)]="password" type="password"></ion-input>
          </ion-item>
       </ion-list>
      <ion-button color="primary" fill="solid" (click)="login()">
        <ion-ripple-effect></ion-ripple-effect>
          Log In
      </ion-button>
    </ion-card-content>
    </ion-card>
</ion-content>
