ion-content{
    text-align: center;
}

ion-card-title{
    font-size: 40px;
}

ion-card{
    margin-left: 25%;
    width: 50%;
    border-top: 2px solid rgb(0, 162, 255);
}
ion-item{
    --highlight-color-focused:rgb(0, 162, 255);
    --highlight-color-valid:rgb(0, 162, 255);
    --highlight-color-invalid:rgb(0, 162, 255);
}
ion-button{
    margin-top: 40px;
}